footer {
  padding: 50px 0;
  background: #000;
}
.sub-footer {
  float: left;
  width: 100%;
  background: #000;
  padding: 40px 0;
  text-align: center;
  color: #fff;
  border-top: 1px solid #222;
}
.sub-footer .footer-copy-social {
  margin-bottom: 20px;
}
.sub-footer .footer-copy-social a {
  margin: 0 .7rem;
  color: #FFFFFF;
  font-size: 22px;
  font-size: 1.375rem;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
}

.footer-copy-text {
    padding: 0 75px;
}

.footer-copy-text a {
    color: #28d18a!important;
    letter-spacing: 0.6px;
}